span {
    float: left;
    width: 0.7em;
    font-size: 400%;
    line-height: 80%;
}

.container {
    position: relative;
    text-align: center;
    color:blue;
}    

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.dotted {border-style: dotted;
}

